{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if task_list|length == 0 %}
            <p>You have no tasks</p>
        {% else %}
            <Table>
                <thead>
                    <tr>
                        <Th>Name</Th>
                        <Th>Start date</Th>
                        <Th>End date</Th>
                        <Th>Is completed</Th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in task_list %}
                        <tr>
                            <td>{{tasks.name}}</td>
                            <td>{{tasks.start_date|date:"M d, Y"}}</td>
                            <td>{{tasks.due_date|date:"M d, Y"}}</td>
                            {% if tasks.is_completed == True %}
                                <td>Done</td>
                            {% else %}
                                <td>
                                    <form method="post" action="{% url 'complete_task' tasks.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </Table>
        {% endif  %}
    </div>
{% endblock content %}
