{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <div>
        <h1>{{project.name}}</h1> <!-- Project Name-->
        {{ project.description|markdownify }}        <!-- Project Description-->
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project.tasks.all|length == 0 %}  <!-- no projects assigned-->
            <p>This project has no tasks</p>
        {% else %}

            <Table>
                <thead>
                    <tr>
                        <Th>Name</Th>
                        <Th>Assignee</Th>
                        <Th>Start date</Th>
                        <Th>Due date</Th>
                        <Th>Is completed</Th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in project.tasks.all %}
                        <tr>
                            <td>{{tasks.name}}</td>
                            <td>{{tasks.assignee}}</td>
                            <td>{{tasks.start_date|date:"M d, Y"}}</td>
                            <td>{{tasks.due_date|date:"M d, Y"}}</td>
                            {% if tasks.is_completed == False %}
                                <td>No</td>
                            {% else %}
                                <td>True</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>

            </Table>
        {% endif  %}
    </div>
{% endblock content %}
