{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>My Projects</h1>
        <a href="{% url 'create_project'%}">Create a new project</a><br><br>
        {% if project_list|length == 0 %}  <!-- no projects assigned-->
            <p>You are not assigned to any projects</p>
        {% else  %}
            <Table>
                <thead>
                    <tr>
                        <Th>Name</Th>
                        <Th>Number of tasks</Th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td>
                                <a href=" {% url 'show_project' project.id %}">{{project.name}}</a>
                            </td>
                            <td>{{project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </Table>
        {% endif  %}
    </div>
{% endblock content %}
